name: Python Unit Tests

on:
    pull_request:
        branches:
            - main

jobs:
    build:
        strategy:
          matrix:
            python-version: ['3.10', '3.11']
            os: [ubuntu-latest, windows-latest]
        runs-on: ${{ matrix.os }}

        steps:
        - uses: actions/checkout@v2
        - name: Set Up Python ${{ matrix.python-version }}
          uses: actions/setup-python@v4
          with: 
                python-version: ${{ matrix.python-version }}
        - name: Install dependencies
          run: |
                python -m pip install --upgrade pip
                python -m pip install pytest bottle webtest
        - name: Test with pytest
          run: pytest --verbose
